---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Project from '@/components/Project.astro'

import atticGymImg from '@/assets/img/tv47-attic-gym/9-complete.jpg'

const title = "Home"
const description = "EliProjects is a site created for documenting my building projects to share with friends, family, and acquaintances. You'll find write-ups, photos, CAD plans, and the occasional story or anecdote of things I've built."
---

<BaseLayout title={title} description={description}>
  <div>

    <h1 class="text-5xl">Welcome</h1>

    <div class="mt-5 md:mt-8 max-w-2xl">
      <p>
        I created this site in fall 2025 for documenting my building projects to share with friends, family, and acquaintances.
        You'll find write-ups, photos, CAD plans, and anecdotes of things I've built.
      </p>

      <p class="mt-2">
        Note: this site is for hobby projects done in my spare time related to home improvment, woodworking, electrical, and adjacent "DIY" fields.
        For professional work see <a href="#" class="text-blue-500 hover:text-blue-600 hover:underline">my portfolio</a> (link to EliPortfolio coming by January 2026).
      </p>
    </div>

    <h2 class="mt-6 md:mt-8 text-3xl">Projects</h2>

    <p class="mt-4">Here is the list of projects — small for now, to be expanded soon:</p>

    <ul class="mt-10 flex flex-col gap-y-20">

      <!-- TV47 attic gym -->
      <li>
        <Project
          name="Attic gym"
          img={atticGymImg}
          imgAlt="Framework of elastic sleepers build to support the gym's floor."
          href="/attic-gym"
        >
          A gym built in the attic of my Dad's home in the Slovene countryside, designed with an elastic, "bouncy" floor to absorb the impact of weights and plyometric exercises while training.
        </Project>
      </li>

      <li><a href="/minioffice" class="text-blue-500 hover:text-blue-600">MiniOffice</a></li>

      <li><a href="/lj16-panel/" class="text-blue-500 hover:text-blue-600">Electrical Panel Replacement</a></li>

    </ul>

  </div>
</BaseLayout>
