---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  imgSrc: string;
  imgAlt: string;
  classes?: string;
  imgClasses?: string;
  width?: number;
}
const { title, imgSrc, imgAlt, classes, imgClasses, width = 700 } = Astro.props as Props;
---

<div class={`relative ${classes ?? ""}`}>
  <div class="relative flex h-full flex-col overflow-hidden rounded-lg">
    <Image src={imgSrc} alt={imgAlt} width={width} class={`h-80 object-cover ${imgClasses ?? ""}`} />
    <div class="px-8 pb-6 pt-4">
      <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{title}</p>
      <div class="mt-2 max-w-lg text-sm/6 text-gray-600"><slot /></div>
    </div>
  </div>
  <div class="pointer-events-none absolute inset-0 rounded-lg shadow outline outline-1 outline-black/5"></div>
</div>
