---
interface Props {
  title: string;
  imgSrc: string;
  imgAlt: string;
  classes?: string;
}
const { title, imgSrc, imgAlt, classes } = Astro.props as Props;
---

<div class={`relative ${classes ?? ""}`}>
  <div class="relative flex h-full flex-col overflow-hidden rounded-lg">
    <img src={imgSrc} alt={imgAlt} class="h-80 object-cover" />
    <div class="px-8 pb-6 pt-4">
      <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">{title}</p>
      <p class="mt-2 max-w-lg text-sm/6 text-gray-600"><slot /></p>
    </div>
  </div>
  <div class="pointer-events-none absolute inset-0 rounded-lg shadow outline outline-1 outline-black/5"></div>
</div>
