---
import { Image } from 'astro:assets';
import logo from '@/assets/img/logo.svg'
---

<nav class="sticky relative top-0 bg-white border-b z-20 py-5 px-5">
  <div class="max-w-5xl mx-auto flex items-center">
    <a href="/" class="mt-1 text-xl font-medium">
      <Image src={logo} alt="Logo" />
    </a>
  </div>
</nav>

